@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background: #242424;
}

/* Rating colors */
.score-green {
  color: #41b883;
  font-weight: bold;
}

.score-orange {
  color: #f97316;
  font-weight: bold;
}

.score-red {
  color: #ef4444;
  font-weight: bold;
}